<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div formGroupName="movieDetails">
      <div>
        <label for="identifier">Identifiant</label>
        <input id="identifier" formControlName="identifier">
      </div>
      <div>
        <label for="title">Titre</label>
        <input id="title" formControlName="title">
      </div>
      <div *ngIf="formSubmitted && movieDetails.invalid">
        <span *ngIf="movieDetails.errors?.['isRequired']">L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné</span>
      </div>
    </div>
  
    <div>
      <label for="type">Type</label>
      <select id="type" formControlName="type">
        <option value="movie">Film</option>
        <option value="series">Série</option>
        <option value="episode">Épisode</option>
      </select>
    </div>
  
    <div>
      <label for="year">Année de sortie</label>
      <input id="year" type="number" formControlName="year">
      <div *ngIf="formSubmitted && searchForm.get('year')?.invalid">
        <span *ngIf="searchForm.get('year')?.errors?.['range']">
          L'année doit être comprise entre {{searchForm.get('year')?.errors?.['range'].min}} et {{searchForm.get('year')?.errors?.['range'].max}}
        </span>
      </div>
    </div>
  
    <div>
        <label for="detail">Fiche</label>
        <select id="detail" formControlName="detail" [disabled]="!searchForm.get('movieDetails.identifier')?.value">
          <option value="full">Complète</option>
          <option value="short">Courte</option>
        </select>
    </div>
  
    <button type="submit">Rechercher</button>
  </form>
  